# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual environment
# ======================
venv/
.env
.env.*

# ======================
# FastAPI / Uvicorn
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Build / packaging
# ======================
build/
dist/
*.spec

# ======================
# Tests cache
# ======================
.pytest_cache/

# ======================
# Database (si usas SQLite)
# ======================
*.db
*.sqlite3
*.sqlite

*.db